<!-- <div class="container-lg">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner row" >
      <div class="col-lg-3 col-md-3 col-12 carousel-item active" *ngFor="let p of productos">
        <div class="card">
          <img src="https://w7.pngwing.com/pngs/482/190/png-transparent-tennis-ball-small-ball-s-rectangle-sport-logo-thumbnail.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.nombre}}</h5>
            <p class="card-text">{{p.descripcion}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev bg-danger-subtle" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-danger-subtle" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
<div class="text-center">
  <h3>LISTA DE PRODUCTOS</h3>
</div>

<div class="card">
  <div class="m-2">
    <button type="button" class="btn btn-primary" (click)="agregarProducto()">AGREGAR PRODUCTO</button>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 mx-auto p-2" *ngFor="let p of productos" >
        <div class="card" style="width: 400px;">
          <img 
            src="https://w7.pngwing.com/pngs/482/190/png-transparent-tennis-ball-small-ball-s-rectangle-sport-logo-thumbnail.png" 
            class="card-img-top m-2" alt="..." style="height: 180px; width: 362px;">
            <div class="card-body">
            <h5 class="card-title">{{p.nombre}} <br></h5>
            <p class="card-text">
              {{p.descripcion}}<br>
              ${{p.precio}}  <br>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div>


