.card-hover:hover{
    transition: .2s;
    background-color: white;
    border-color: black;
    box-shadow: 0 0 20px #196F3D ;
}

.botonesCarrusel:hover {
    background-color: rgb(0, 0, 0, 0.2);
    color: black;
}
