<div class="card">
  <form class="w-75 mb-5 mt-5 mx-auto" id="page-b-form" #formConvert="ngForm">
    <legend
      class="text-center bg-white text-danger w-100 p-4 border border-danger"
    >
      Conversor de Divisas
    </legend>
    <div class="mb-3 p-2">
      <label for="textInput" class="form-label">Cantidad</label>
      <input
        type="number"
        class="form-control"
        id="textInput"
        aria-describedby="number"
        name="cantidad"
        placeholder="$"
        [(ngModel)]="transaccion.cantidadOrigen"
        #cantidad="ngModel"
        required
        min="1"
      />
      <div
        *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="cantidad.errors?.['required']">Ingrese un valor.</div>
        <div *ngIf="cantidad.errors?.['min']">La cantidad minima es 1.</div>
      </div>
    </div>
    <div class="mb-3 p-2">
      <label for="exampleInput" class="form-label">De</label>
      <select
        class="form-select form-select-lg"
        name="moneda"
        aria-label=".form-select-lg example"
        [(ngModel)]="transaccion.monedaOrigen"
        name="fromType"
        #from="ngModel"
      >
        <option selected>Seleccione Moneda</option>
        <option value="ARS">ARS</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
      </select>
      <div
        *ngIf="from.invalid && (from.dirty || from.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="from.errors?.['required']">Seleccione una moneda.</div>
      </div>
    </div>
    <div class="mb-3 p-2">
      <label for="exampleInput" class="form-label">A</label>
      <select
        class="form-select form-select-lg"
        name="monedaAconvertir"
        aria-label=".form-select-lg example"
        [(ngModel)]="transaccion.monedaDestino"
        name="toType"
        #to="ngModel"
        required
      >
        <option selected>Seleccione Moneda</option>
        <option value="ARS">ARS</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
      </select>
    </div>
    <div
      *ngIf="to.invalid && (from.dirty || to.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="to.errors?.['required']">Seleccione una moneda.</div>
    </div>
    <div class="mb-3 p-2">
      <label for="textInput" class="form-label">Tasa de Conversion </label>
      <input
        type="number"
        class="form-control"
        id="textInput"
        aria-describedby="number"
        name="tasaconversion"
        placeholder="$"
        [(ngModel)]="transaccion.tasaConversion"
        #tasa="ngModel"
        required
        min="1"
      />
      <div
        *ngIf="tasa.invalid && (tasa.dirty || tasa.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="cantidad.errors?.['required']">Ingrese un valor.</div>
        <div *ngIf="cantidad.errors?.['min']">La cantidad minima es 1.</div>
      </div>
    </div>

    <div class="mb-3 p-2">
      <label for="textInput" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="textInput"
        aria-describedby="number"
        name="email"
        [(ngModel)]="transaccion.emailCliente"
        #email="ngModel"
        required
        placeholder="example@example.com"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="email.errors?.['required']">Este campo es obligatorio.</div>
      </div>
    </div>

    <div [hidden]="!band1" class="mb-3 p-2">
      <label for="textInput" class="form-label">Monto convertido</label>
      <input
        type="number"
        class="form-control"
        id="textInput"
        aria-describedby="number"
        name="montoConvertido"
        placeholder="$"
        [(ngModel)]="transaccion.cantidadDestino"
      />
    </div>

    <div
      [hidden]="band1"
      class="mb-3 p-2 text-white"
      style="margin: 10px 0 10px 0; text-align: center"
    >
      <button
        class="btn btn-warning p-2"
        style="width: 100%"
        (click)="Convertir()"
      >
        Convertir
      </button>
    </div>
    <div
      [hidden]="!band1"
      class="mb-3 p-2 text-white"
      style="margin: 10px 0 10px 0; text-align: center"
    >
      <button
        type="submit"
        class="btn btn-susscess"
        (click)="guardarTransaccion()"
      >
        Guardar Transaccion
      </button>
    </div>
  </form>
</div>
