
<div class="row">
  <h3 class="col-12 text-center text-primary text-decoration-underline">LISTADO DE TRANSACCIONES</h3>
</div>

<div class="row mb-2">
  <div class="col-12">
      <button class="btn-primary" (click)="agregarTransaccion()">AGREGAR</button>
  </div>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 15%;">Moneda Origen</th>
        <th scope="col" style="width: 15%;">Cantidad Origen</th>
        <th scope="col" style="width: 15%;">Moneda Destino</th>
        <th scope="col" style="width: 15%;">Cantidad Destino</th>
        <th scope="col" style="width: 20%;">email Cliente</th>
        <th scope="col" style="width: 10%;">Tasa de Conversion</th>
      </tr>
    </thead>
    <tbody *ngFor="let t of transacciones">
      <tr >
        <td>{{t.monedaOrigen}}</td>
        <td>{{t.cantidadOrigen}}</td>
        <td>{{t.monedaDestino}}</td>
        <td>{{t.cantidadDestino  | number:'2.1-3'}}</td>
        <td>{{t.emailCliente}}</td>
        <td>{{t.tasaConversion}}</td>
        <td>
          <button class="btn btn-success">MOD</button>
          <button class="btn btn-danger">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>

