<div class="container">
    <div class="">
        <h4>LISTA DE TICKETS</h4>
    </div>
    <div class="text-center">
        <button class="btn btn-success" (click)="agregarTicket()"><i class="bi bi-plus-lg mx-2"></i>Agregar Ticket</button>
    </div>
    <div class="card text-center mt-4">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Fecha Compra</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Espectador</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
